<h2>Comentarios</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Comentario</th>
            <th>E-mail</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.nombre}}</td>
            <td>{{item.comentario}}</td>
            <td>Informacion oculta</td>
            <td><button (click)="actualizarItem(item.id)" class="btn btn-info">Actualizar</button><button
                    (click)="eliminarItem(item.id)" class="btn btn-info"
                    style="margin: left 10px;">Eliminar</button></td>
        </tr>

    </tbody>

</table>
